.userPic {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 3px #FFFFFF);
}

.body {
  tr {
    &:hover {
      background-color: #1e2225;
      cursor: pointer;
    }

    .latePayment {
      color: #FF4337;
    }

    .noLatePayment {
      color: #88B487;
    }
  }
}
