.modalContent {
  position: relative;

  .bigPic {
    width: 500px;
    height: 500px;
  }
  
  svg {
    margin: 15px;
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 0;
    color: red;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 60%;
    &:hover {
      opacity: 100%;
    }
  }
}

.container {
  display: flex;

  .picAndFullName {
    padding-inline: 50px;
    width: fit-content;
    text-align: center;
    img {
      width: 10em;
      height: 10em;
      object-fit: cover;
      border-radius: 50%;
      filter: drop-shadow(0px 0px 3px #FFFFFF);
      cursor: pointer;
    }
  }

  .infosContainer {
    flex: 1;
    margin-block-start: 10px;

    .line {
      display: flex;
      margin-block-end: 25px;
      

      .infoWrapper {
        flex: 1;
        margin-inline: 10px;
        
        .label {
          font-size: medium;
          margin-block-end: 8px;
          padding-inline-start: 10px;
        }
        .info {
          border-radius: 6px;
          font-size: 20px;
          background-color: #2f3842;
          padding: 10px;
          padding-inline-start: 20px;
          height: 25px;
        }
        input {
          width: 97%;
          border: 1px solid white;
          box-shadow: none;
          color: white;
          outline: none;
          border-radius: 6px;
          font-size: 20px;
          background-color: #2f3842;
          padding-inline-start: 20px;
          height: 25px;
          padding: 10px;
        }
      }
    }
  }
}