@font-face {
  font-family: "Itim";
  src: local("Itim"), url(./assets/fonts/Itim-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: Itim, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: white;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
