.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 20px 5px;
  flex-wrap: wrap;

  .pageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #111315;
    cursor: pointer;
    margin: 15px;
  }

  .activePage {
    width: 45px;
    height: 45px;
    border: 3px solid #2a85ff;
    border-radius: 5px;
    padding: 2px;
    cursor: default;
  }
  .arrowContainer {
    width: 45px;
    .arrow {
      cursor: pointer;
    }
  }
}
